.divStyle {
    border: 2px solid #1d1d1d;
    float: left;
    background: #5CA4EA;
  
    p {
      text-align: center;
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: large;
    }
  
    
  }